
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-todo {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html {
  font-family: sans-serif;
  /* background: linear-gradient(45deg, #6cfd9f, #6887ff); */
  height: 100%;
  color: #333;
}
